* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #444;
  color: #ccc;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  padding: 20px;
  flex: 1 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #666;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main ul{
  list-style: decimal;
}

.main li{
  padding:10px;
  border-bottom: 1px solid #ddd;
}

.main li:last-child {
  border-bottom: none;
}

footer {
  text-align: center;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

button {
  margin-left: auto;
  background-color: transparent;
  padding: 0;
}

.minus{
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

form input {
  height: 26px;
  border-radius: 10px;
  outline: none;
  background-color: #666;
  box-shadow: none;
}

form input::placeholder{
  color: #ccc;
  font-family: Arial, sans-serif;
}

nav{
  text-align: center;
}

a{
  color:#ccc;
}

a:hover{
  color:rgb(136, 238, 144)
}